html {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --blue-dark: hsl(217, 54%, 11%);
  --blue-medium: hsl(216, 50%, 16%);
  --blue-light: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  font-size: 18px;
  font-family: Outfit, sans-serif;
}

body {
  background-color: var(--blue-medium);
  color: var(--soft-blue);
  font-weight: 300;
  width: 100%;
}

h1 {
  font-size: 24px;
  color: var(--white);
  font-weight: 600;
}

hr {
  border-color: var(--soft-blue);
}

#card {
  margin: 16px;
  padding: 24px;
  background-color: var(--blue-light);
  border-radius: 16px;
  margin: auto;
  width: 300px;
  box-shadow: 0px 36px 8px 24px var(--blue-dark);
}

.card-image {
  width: 100%;
  border-radius: 16px;
}

.card-image:hover {
  background-color: var(--cyan);
}

#card div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  width: 32px;
}

#card > p {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (min-width: 1024px) {
  body {
    margin: 0 auto;
    height: 100vh;
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-image:hover {
    background-color: var(--cyan);
  }
}